body {
    background-color: #0a192f;
    color: #fff;
    font-family: sans-serif;
    margin: 0;
}

.header-container {
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
}

.forma {
    width: auto;
    padding: 0;
}

.form_input {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    display: flex;
    align-items: center;
}

.label1 {
    margin-right: 10px;
}

.label1 label {
    color: #64b5f6;
    text-shadow: 0 0 5px rgba(0, 150, 255, 0.8);
    display: inline-block;
    font-size: 18px; 
}

.input1 {
    margin-right: 10px;
}

.input1 input[type="text"] {
    padding: 10px; 
    border: none;
    background-color: #143159;
    color: #fff;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 100, 200, 0.3);
    width: 200px; 
    font-size: 16px; 
}

.input1 input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 150, 255, 0.5), 0 0 5px rgba(0, 150, 255, 0.5);
}

.input3 input[type="submit"] {
    background-color: #64b5f6;
    color: #0a192f;
    padding: 10px 16px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    box-shadow: 0 0 5px rgba(0, 150, 255, 0.8);
    transition: background-color 0.3s ease;
}

.input3 input[type="submit"]:hover {
    background-color: #4285f4;
}


/** График */


.graphic {
  width: 100%; 
  max-width: 1000px;  
  position: relative; 
  top: 200px;
  left: 20px;
}
