body {
  margin: 0;
  background: #292c3b;
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.title {
  font-size: 3em;
  color: #66cccc;
  text-shadow: 0 0 5px rgba(102, 204, 204, 0.7);
  margin-bottom: 10px;
  text-align: center;
}


.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


.forma {
  background: rgba(37, 55, 109, 0.4); 
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 86%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}


label {
  display: block;
  font-size: 1.4em;
  margin-bottom: 24px;
  color: #a0c4c7;
}


input[type="text"] {
  width: 90%;
  padding: 15px;
  font-size: 1.4em;
  border-radius: 8px;
  border: 1px solid #555;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}


input[type="text"]:focus {
  border-color: #2a97c2;
  box-shadow: 0 0 8px rgba(102, 204, 204, 0.5);
}


input[type="submit"] {
  width: 98%;
  padding: 15px;
  margin-top: 20px;
  font-size: 1.4em;
  border: none;
  border-radius: 8px;
  background-color: #2a97c2; 
  color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

input[type="submit"]:hover {
  background-color: #1b7497; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.table { 
  width: 100%; 
  border-collapse: collapse; 
}
.table th, .table td { 
  padding: 8px; 
  text-align: center; 
  border-bottom: 1px solid #ddd; 
}
.table th { 
  background-color: #f2f2f213; 
}
.container { 
  max-height: calc(100% - 100px);
  max-width: calc(100% - 100px);
  margin: 0 auto; 
  padding: 20px; 
}
.content-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: normal;
}
.chart-container {
  flex: 1;
  width: 100%;
  height: auto;
  margin: 0;
}
.table-container {
  flex: 1;
  width: 100%;
  height: auto;
  margin: 0;
}

.back-link {
  margin-top: 20px;
  display: block;
  color: #2C5AC3;
}
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
} 

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex: 1;
}

.top-content .chart-container {
  flex: 1;
  height: 300px;
}

.recommendation-boxes {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.head-content .chart-container {
  flex: 1;
  height: 300px;
}