<!DOCTYPE html>
<html>
<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <style>
        .label1 { text-align: center; }
    </style>
</head>
<body>
    <div class="forma">
        <form id="cityForm" action="/" method="GET">
            <div class="label1">
                <label for="city">Ошибка</label>
            </div>
            <div class="label1">
                <label for="city">Нет данных для города: {{ city }}</label>
            </div>
            <div class="form_input">
                <div class="input3">
                    <input type="submit" value="Назад к поиску">
                </div>
            </div>
        </form>
    </div>
</body>
</html>