<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="../static/style.css" rel="stylesheet"/>
    <style>
        label {
        font-size: 1.8em;
        color: #3498db;
        }
    </style>
</head>
<body>
<header class="header-container">
    <div class="logo-container">
        <img src="../static/logo_nogb_blue.png" alt="Логотип" class="logo">
    </div>

    <div class="forma">
        <form id="cityForm" action="/get-24hrs" method="POST">
            <div class="form_input">
                <div class="label1">
                    <label for="city">Введите город</label>
                </div>
                <div class="input1">
                    <input type="text" id="city" name="city" placeholder="Пример: Москва" required>
                </div>
                <div class="input3">
                    <input type="submit" value="Показать">
                </div>
            </div>
        </form>
    </div> 
</header>
</body>
</html>